
<div>
    <div>
        <div id="header" class="header navbar navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand" style="background-color: transparent"><span class="navbar-logo"></span>泓洋国际</a>
                    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/admin/assets/images/user-12.jpg"/>
                            <span class="hidden-xs">管理员</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeInLeft">
                            <li class="arrow"></li>
                            <li><a ng-click="logOut()">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   <!-- <div class="navbar navbar-default" id="navbar">
        <script type="text/javascript">
            try {
                ace.settings.check('navbar', 'fixed')
            } catch (e) {
            }
        </script>

        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>任鸟飞管理平台
                    </small>
                </a>&lt;!&ndash; /.brand &ndash;&gt;
            </div>
            &lt;!&ndash; /.navbar-header &ndash;&gt;

            <div class="navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-blue" style="height: 50px;">
                        <a href="#" ng-click="logOut()">
                            <i class="fa fa-power-off"></i>
                            Logout
                        </a>
                    </li>
                </ul>
                &lt;!&ndash; /.ace-nav &ndash;&gt;
            </div>
            &lt;!&ndash; /.navbar-header &ndash;&gt;
        </div>
        &lt;!&ndash; /.container &ndash;&gt;
    </div>-->
</div>