<div>
    <div class="rows">
        <div class="col-xs-12">
            <h3 class="header smaller lighter blue">修改密码</h3>
        </div>
    </div>
    <div class="col-xs-12" >
        <form name="passwordForm" class="form-horizontal" style="padding-top: 20px;" role="form">
            <div class="form-group">
                <label class="col-md-3 control-label input-lg ">原密码</label>

                <div class="col-md-6">
                    <input type="password" placeholder="必填，长度不超过100字" ng-model="originPassword" class="form-control input-lg" required maxlength="20" minlength="6">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label input-lg ">新密码</label>

                <div class="col-md-6">
                    <input type="password" placeholder="必填，长度不超过40字" ng-model="newPassword" class="form-control input-lg" required maxlength="20" minlength="6">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">

                    <button class="btn btn-info" id="passwordBtn" type="button" ng-click="changePassword()" ng-disabled="passwordForm.$invalid">
                        <i class="fa fa-check "></i>
                        确定
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>/