<div>
    <div class="rows">
        <div class="col-xs-12">
            <span class="pull-right" style="text-align: right;" >
                <a class="btn btn-lg btn-info " href="/admin.html#/procure"><i class="fa fa-arrow-left" style="padding-right: 3px;"></i>返回</a>
            </span>
            <h3 class="header smaller lighter blue">查看采购信息</h3>
            <h4></h4>
        </div>
    </div>
    <div class="rows" style="margin-left: -15px;padding-top: 10px;">
        <div class="modal fade" id="modal-supplier" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #348fe2!important">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" style="color: #fff">供应商信息</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-xs-12">
                            <div class="col-md-6">
                                <p>
								<span class="fa-stack fa-2x text-primary">
									<i class="fa fa-openid fa-stack-1x" title="供应商ID"></i>
								</span>
                                    {{supplier.id}}
                                </p>
                                <p>
								<span class="fa-stack fa-2x text-primary">
									<i class="fa fa-user fa-stack-1x" title="联系人"></i>
								</span>
                                    {{supplier.contact}}
                                </p>
                                <p>
								<span class="fa-stack fa-2x text-primary">
									<i class="fa fa-envelope fa-stack-1x" title="邮箱"></i>
								</span>
                                    {{supplier.email}}
                                </p>
                                <p>
								<span class="fa-stack fa-2x text-primary">
									<i class="fa fa-phone fa-stack-1x" title="电话"></i>
								</span>
                                    {{supplier.phone}}
                                </p>
                                <p>
								<span class="fa-stack fa-2x text-primary">
									<i class="fa fa-fax fa-stack-1x" title="传真"></i>
								</span>
                                    {{supplier.fax}}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
								<span class="fa-stack fa-2x text-primary">
									<i class="fa fa-building fa-stack-1x" title="公司"></i>
								</span>
                                    {{supplier.biz_name}}
                                </p>
                                <p>
								<span class="fa-stack fa-2x text-primary">
									<i class="fa fa-mail-forward fa-stack-1x" title="zipcode"></i>
								</span>
                                    {{supplier.zipcode}}
                                </p>
                                <p>
								<span class="fa-stack fa-2x text-primary">
									<i class="fa fa-map-marker fa-stack-1x" title="市／州"></i>
								</span>
                                    {{supplier.city}}/{{supplier.state}}
                                </p>
                                <p>
								<span class="fa-stack fa-2x text-primary">
									<i class="fa fa-map-signs fa-stack-1x" title="地址"></i>
								</span>
                                    {{supplier.address}}
                                </p>
                                <p>
                                <span class="fa-stack fa-2x text-primary">
									<i class="fa fa-clock-o fa-stack-1x" title="创建时间"></i>
								</span>
                                {{supplier.created_on |date : 'yyyy-MM-dd HH:mm:ss'}}
                                </p>
                            </div>
                            <div class="col-xs-12">
                                <p>
                                    <span class="fa-stack fa-2x text-primary">
                                        <i class="fa fa-file fa-stack-1x" title="备注"></i>
                                    </span>
                                    {{supplier.remark}}
                                </p>
                            </div>
                        </div>
                        &nbsp;
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-sm btn-primary" data-dismiss="modal">关闭</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-offer" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #348fe2!important">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" style="color: #fff">报价信息</h4>
                    </div>
                    <div class="modal-body">
                        <div class="rows">
                            <div class="col-md-6">
                                <p>
								<span class="fa-stack fa-2x text-primary">
									<i class="fa fa-openid fa-stack-1x" title="报价ID"></i>
								</span>
                                    {{offer.id}}
                                </p>

                                <p>
								<span class="fa-stack fa-2x text-primary">
									<i class="fa fa-calculator fa-stack-1x" title="消费税率"></i>
								</span>
                                    {{offer.tax | number}}%
                                </p>


                                <p>
								<span class="fa-stack fa-2x text-primary">
									<i class="fa fa-clock-o fa-stack-1x" title="报价时间"></i>
								</span>
                                    {{offer.created_on |date : 'yyyy-MM-dd HH:mm:ss'}}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
								<span class="fa-stack fa-2x text-primary">
									<i class="fa fa-dollar fa-stack-1x" title="单价"></i>
								</span>
                                    {{offer.price | number}}
                                </p>
                                <p>
								<span class="fa-stack fa-2x text-primary">
									<i class="fa fa-cubes fa-stack-1x" title="数量"></i>
								</span>
                                    {{offer.qty | number}}
                                </p>
                                <p>
								<span class="fa-stack fa-2x text-primary">

								</span>
                                </p>
                            </div>
                        </div>
                        &nbsp;
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-sm btn-primary" data-dismiss="modal">关闭</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-offer-confirm" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #348fe2!important">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" style="color: #fff">选择报价</h4>
                    </div>
                    <div class="modal-body">
                        <div class="rows">
                            <div class="col-md-6">
                                <p>
								<span class="fa-stack fa-2x text-primary">
									<i class="fa fa-dollar fa-stack-1x" title="实际单价"></i>
								</span>
                                <input type="number" ng-model="actualPrice">
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>
								<span class="fa-stack fa-2x text-primary">
									<i class="fa fa-cubes fa-stack-1x" title="实际数量"></i>
								</span>
                                <input type="number" ng-model="actualQty">
                            </p>
                        </div>
                        &nbsp;
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-sm btn-success" data-dismiss="modal" ng-click="selectOffer()">确定</a>
                        <a href="javascript:;" class="btn btn-sm btn-primary" data-dismiss="modal">关闭</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-inverse" data-sortable-id="form-stuff-3">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a  class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" data-original-title="" title=""><i class="fa fa-expand"></i></a>
                    </div>
                    <h4 class="panel-title">基本信息</h4>
                </div>
                <div class="panel-body" style="display: block;">
                    <div class="media">
                        <a class="media-left" href="javascript:;">
                            <img ng-src="/api/image/{{procure.img}}" alt="" class="media-object">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{procure.brand_cn}}|{{procure.name_cn}}</h4>
                            <h5 class="media-heading">
                                <span class="badge badge-default" style="margin-right: 10px;">年份: {{procure.extra_year}}</span>
                                <span class="badge badge-default" style="margin-right: 10px;">类型: {{procure.extra_type==typeArray[0].id?typeArray[0].name:typeArray[1].name}}</span>
                                <span class="badge badge-default" style="margin-right: 10px;">排量: {{procure.extra_vol|number:1}}</span>
                                <span class="badge badge-default" style="margin-right: 10px;">款式: {{procure.extra_item}}</span>
                            </h5>
                            <h5 class="media-heading">
                                <span class="badge badge-inverse" style="margin-right: 10px;">计划采购量: {{procure.qty}}</span>
                                <span class="badge badge-inverse" style="margin-right: 10px;">截止日期: {{procure.end | date:"yyyy-MM-dd"}}</span>
                            </h5>
                            {{procure.remark}}
                        </div>
                        <div class="media-right" style="vertical-align: middle;" ng-if="procure.status==1">
                            <button class="btn btn-success btn-block m-r-5"><i class="fa fa-paper-plane"></i> 通知供应商</button>
                            <button class="btn btn-warning btn-block m-r-5" style="margin: 2px 0 ;" ng-click="finishProcure()"><i class="fa fa-check"></i> 完成采购</button>
                        </div>
                    </div>
                    <div class="rows">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>采购价格</th>
                                <th>采购数量</th>
                                <th>税率(%)</th>
                                <th>公司</th>
                                <th>联系人</th>
                                <th>邮箱</th>
                                <th>电话</th>
                                <th>州/市</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="offer in offerArray" ng-if="offer.status==2">
                                <td>{{offer.actual_price |currency:"$"}}</td>
                                <td>{{offer.actual_qty}}</td>
                                <td>{{offer.tax}}</td>
                                <td>{{offer.biz_name}}</td>
                                <td>{{offer.contact}}</td>
                                <td>{{offer.s_email}}</td>
                                <td>{{offer.phone}}</td>
                                <td>{{offer.state}}/{{offer.city}}</td>
                                <td style="letter-spacing: 5px;">
                                    <a id="supplierBtn" data-target="#modal-supplier" data-toggle="modal"></a><i class="fa fa-user" ng-click="showSupplier(offer.supplier_id)"></i>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="rows" style="margin-left: -15px;padding-top: 10px;">
        <div class="col-xs-12">
            <div class="panel panel-inverse" data-sortable-id="form-stuff-3">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" data-original-title="" title=""><i class="fa fa-expand"></i></a>
                    </div>
                    <h4 class="panel-title">报价信息</h4>
                </div>
                <div class="panel-body" style="display: block;">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>价格</th>
                            <th>数量</th>
                            <th>税率(%)</th>
                            <th>公司</th>
                            <th>联系人</th>
                            <th>邮箱</th>
                            <th>电话</th>
                            <th>州/市</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="offer in offerArray">
                            <td>{{offer.price |currency:"$"}}</td>
                            <td>{{offer.qty}}</td>
                            <td>{{offer.tax}}</td>
                            <td>{{offer.biz_name}}</td>
                            <td>{{offer.contact}}</td>
                            <td>{{offer.s_email}}</td>
                            <td>{{offer.phone}}</td>
                            <td>{{offer.state}}/{{offer.city}}</td>
                            <td style="letter-spacing: 5px;">
                                <a id="offerBtn" data-target="#modal-offer" data-toggle="modal"></a><i class="fa fa-ticket" ng-click="showOffer(offer.id)"></i>
                                <a id="supplierBtn" data-target="#modal-supplier" data-toggle="modal"></a><i class="fa fa-user" ng-click="showSupplier(offer.supplier_id)"></i>
                                <a id="offerConfirmBtn" data-target="#modal-offer-confirm" data-toggle="modal"></a><i class="fa fa-gavel" ng-click="showOfferConfirm(offer.id ,offer.actual_price,offer.actual_qty)"></i>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>