<div>
    <div style="z-index: 1;padding: 120px 0; position: relative;text-align: center;background: url(/supplier/assets/unify/img/bg/1.jpg) no-repeat;background-size: cover;background-position: center center;">
    </div>
    <div class="content-md margin-bottom-30">
        <div class="container">
            <form class="shopping-cart" action="#" novalidate="novalidate">


                <div role="application" class="wizard clearfix" ng-if="step==1">
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" class="first current" aria-disabled="false" aria-selected="true">
                                <a><span
                                        class="current-info audible">current step: </span><span class="number">1.</span>
                                    <div class="overflow-h">
                                        <h2>Offer list</h2>
                                        <p>Review &amp; edit your offers</p>
                                        <i class="rounded-x fa fa-check"></i>
                                    </div>
                                </a></li>
                            <li role="tab" class="disabled" aria-disabled="true">
                                <a>
                                    <span class="number">2.</span>
                                    <div class="overflow-h">
                                        <h2>Extra service</h2>
                                        <p>Shipping and address info</p>
                                        <i class="rounded-x fa fa-cogs"></i>
                                    </div>
                                </a></li>
                            <li role="tab" class="disabled last" aria-disabled="true">
                                <a >
                                    <span class="number">3.</span>
                                    <div class="overflow-h">
                                        <h2>Success</h2>
                                        <p>Wating for the bidding end</p>
                                        <i class="rounded-x fa fa-flag"></i>
                                    </div>
                                </a></li>
                        </ul>
                    </div>
                    <div class="content clearfix">
                        <section id="steps-uid-0-p-0" role="tabpanel" aria-labelledby="steps-uid-0-h-0" class="body current" aria-hidden="false">
                            <div class="rows" ng-if="procureArray.length ==0">
                                <div style="text-align: center">
                                    <h2 class="title-type">Your offer list is empty.</h2>
                                </div>
                            </div>
                            <div class="table-responsive" ng-if="procureArray.length>0">
                                <table class="table table-striped" >
                                    <thead>
                                    <tr>
                                        <th>Auto</th>
                                        <th>Price</th>
                                        <th>Qty</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="procure in procureArray">
                                        <td class="product-in-table">
                                            <img class="img-responsive" ng-src="/api/image/{{procure.img}}" alt="">
                                            <div class="product-it-in">
                                                <h3>{{procure.brand_en}}-{{procure.name_en}}</h3>
                                                <span>{{procure.extra_type==typeArray[0].id?typeArray[0].name:typeArray[1].name}}</span>
                                                <span>{{procure.extra_vol|number:1}}L</span>
                                                <span>{{procure.extra_year}}-{{procure.extra_item}}</span>
                                            </div>
                                        </td>
                                        <td><input type="number" ng-model="procure.price" class="required"></td>
                                        <td>


                                            <input type="number" ng-model="procure.qty" max="{{procure.qty}}">
                                        </td>
                                        <td class="shop-red">${{procure.price*procure.qty || 0}}</td>
                                        <td>
                                            <button type="button" ng-click="removeTempProcure(procure.id,$index)" class="close"><span>×</span><span class="sr-only">Close</span></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                    <div class="actions clearfix">
                        <ul aria-label="Pagination">
                            <li class="disabled" aria-disabled="true"><a class="btn btn-success btn-u-lg" style="min-width: 126px;" ng-click="doPre()" ng-disabled="true">Previous</a></li>
                            <li  style="display: block;"><a class="btn btn-success btn-u-lg" style="min-width: 126px;" ng-disabled="procureArray.length<=0" ng-click="doNext()">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div role="application" class="wizard clearfix" ng-if="step==2">
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" class="first done" aria-disabled="false" aria-selected="true">
                                <a><span
                                        class="current-info audible">current step: </span><span class="number">1.</span>
                                    <div class="overflow-h">
                                        <h2>Offer list</h2>
                                        <p>Review &amp; edit your offers</p>
                                        <i class="rounded-x fa fa-check"></i>
                                    </div>
                                </a></li>
                            <li role="tab" class="current" aria-disabled="true">
                                <a>
                                    <span class="number">2.</span>
                                    <div class="overflow-h">
                                        <h2>Extra service</h2>
                                        <p>Shipping and address info</p>
                                        <i class="rounded-x fa fa-cogs"></i>
                                    </div>
                                </a></li>
                            <li role="tab" class="disabled last" aria-disabled="true">
                                <a >
                                    <span class="number">3.</span>
                                    <div class="overflow-h">
                                        <h2>Success</h2>
                                        <p>Waiting for the bidding end</p>
                                        <i class="rounded-x fa fa-flag"></i>
                                    </div>
                                </a></li>
                        </ul>
                    </div>
                    <div class="content clearfix">
                        <section>
                            <div class="rows" ng-if="procureArray.length ==0">
                                <div style="text-align: center">
                                    <h2 class="title-type">Your offer list is empty.</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 md-margin-bottom-40">
                                    <h2 class="title-type">Extra service</h2>
                                    <div class="billing-info-inputs checkbox-list state-success">
                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <label  style="margin: 0 0 9px 0;">Extra Description</label>
                                                    <textarea ng-model="remark" placeholder="e.g:color & features & specs" rows="3"  class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class=" input-group">
                                                    <label  style="margin: 0 0 9px 5px;">Tax Rate(%)</label>
                                                    <input type="number"  ng-model="taxRate" class="form-control" min="0.00" step="0.01">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="actions clearfix">
                        <ul>
                            <li ><a class="btn btn-success btn-u-lg" style="min-width: 126px;" ng-click="doPre()" >Previous</a></li>
                            <li  style="display: block;"><a class="btn btn-success btn-u-lg" id="addOfferBtn" style="min-width: 126px;" ng-click="doNext()">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div role="application" class="wizard clearfix" ng-if="step==3">
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" class="first done" aria-disabled="false" aria-selected="true">
                                <a><span
                                        class="current-info audible">current step: </span><span class="number">1.</span>
                                    <div class="overflow-h">
                                        <h2>Offer list</h2>
                                        <p>Review &amp; edit your offers</p>
                                        <i class="rounded-x fa fa-check"></i>
                                    </div>
                                </a></li>
                            <li role="tab" class="done" aria-disabled="true">
                                <a>
                                    <span class="number">2.</span>
                                    <div class="overflow-h">
                                        <h2>Extra service</h2>
                                        <p>Shipping and address info</p>
                                        <i class="rounded-x fa fa-cogs"></i>
                                    </div>
                                </a></li>
                            <li role="tab" class="last current" aria-disabled="true">
                                <a >
                                    <span class="number">3.</span>
                                    <div class="overflow-h">
                                        <h2>Success</h2>
                                        <p>Wating for the bidding end</p>
                                        <i class="rounded-x fa fa-flag"></i>
                                    </div>
                                </a></li>
                        </ul>
                    </div>
                    <div class="content clearfix">
                        <div class="rows" ng-if="procureArray.length ==0">
                            <div style="text-align: center">
                                <h2 class="title-type">Your offer list is empty.</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 md-margin-bottom-40">
                                <h2 class="title-type" style="text-align: center;">Now, you have the complete offer process，you will be contacted about next steps in 24 hours after the end of plan ,when your offer has been  accepted</h2>
                            </div>
                        </div>
                    </div>
                    <div class="actions clearfix">
                        <ul>
                            <li  style="display: block;"><a class="btn btn-success btn-u-lg" style="min-width: 126px;" ng-click="doNext()">Finish</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div><!--/end container-->
    </div>
</div>


