
<div>
    <div class="header-v6 header-dark-transparent header-sticky">
    <!-- Navbar -->
    <div class="navbar mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="menu-container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Navbar Brand -->
                <div class="navbar-brand">
                    <a href="#/">
                        <img class="default-logo" src="/supplier/assets/unify/img/logo3-light.png" alt="Logo">
                        <img class="shrink-logo" src="/supplier/assets/unify/img/logo3-dark.png" alt="Logo">
                    </a>
                </div>
                <!-- ENd Navbar Brand -->
                <div class="header-inner-right">
                    <ul class="menu-icons-list">
                        <ul class="nav navbar-nav">
                            <li class="menu-icons shopping-cart"  ng-show="loginFlag" ng-click="showInfo()">
                                <i class="menu-icons-style radius-x fa fa-bell"></i>
                                <span class="badge">{{notifyCount}}</span>
                            </li>
                            <li class="menu-icons"  ng-show="loginFlag">
                                <i class="menu-icons-style radius-x fa fa-user"></i>
                            </li>
                            <li class="menu-icons shopping-cart"  ng-show="loginFlag" ng-click="logOut()">
                                <i class="menu-icons-style radius-x fa fa-power-off"></i>
                            </li>
                        </ul>
                        <!--<li class="menu-icons shopping-cart">
                            <i class="menu-icons-style radius-x fa fa-shopping-cart"></i>
                        </li>-->
                    </ul>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav">


                        <li class="menu-icons shopping-cart" ng-click="linkToCheckout" >
                            <i class="menu-icons-style radius-x fa fa-list-alt"></i>
                            <span class="badge">{{procureCount}}</span>
                        </li>

                        <li class="dropdown">
                            <a href="#/register" ng-show="loginFlag==false" style="font-family: Serif;">Sign up</a>
                        </li>
                        <li class="dropdown">
                            <a href="#/login" ng-show="loginFlag==false" style="font-family: Serif;">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>


</div>