<div>
    <div style="z-index: 1;padding: 120px 0; position: relative;text-align: center;background: url(/supplier/assets/unify/img/bg/1.jpg) no-repeat;background-size: cover;background-position: center center;">
    </div>
    <div class="container content profile">
        <div class="rows">
            <div class="col-md-3 md-margin-bottom-40">
                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">

                    <li class="list-group-item ">
                        <a href="#/user"><i class="fa fa-user"></i> Profile</a>
                    </li>
                    <li class="list-group-item ">
                        <a href="#/notify"><i class="fa fa-bell"></i> Notification</a>
                    </li>
                    <li class="list-group-item active">
                        <a href="#/offer"><i class="fa fa-list"></i> Offers</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="profile-body margin-bottom-20">
                    <div class="tab-v1" >
                        <ul class="nav nav-justified nav-tabs">
                            <li class="active"><a data-toggle="tab" ng-click="changeTab(1)"  aria-expanded="true">Current</a></li>
                            <li class=""><a data-toggle="tab" ng-click="changeTab(2)" aria-expanded="false">History</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="profile-edit tab-pane fade active in" ng-if="nowTab==1" style="min-height: 200px;">
                                <h2 class="heading-md" ng-if="currentOfferArray.length==0" style="color: #dedede;text-align: center;">You do not have any offer. </h2>
                            </div>
                            <div class="profile-edit tab-pane fade active in" ng-if="nowTab==2" style="min-height: 200px;">
                                <h2 class="heading-md" ng-if="historyOfferArray.length==0" style="color: #dedede;text-align: center;">You do not have any offer. </h2>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>